# Python com sqlite3
## Os exemplos são da documentação official
link da documentação https://docs.python.org/3/library/sqlite3.html

In [25]:
# Importando a biblioteca
import sqlite3

## Criando a conexação com o banco de dados

Se o arquivo não exister, é criado automaticamento.
extensões: .db, .sqlite, ...

Ex: `conexao = sqlite3.connect('exemplo.db')`

O nome de caminho especial :memory: pode ser fornecido para criar um banco de dados temporário na RAM:
https://docs.python.org/3/library/sqlite3.html#:~:text=The%20special%20path%20name%20%3Amemory%3A%20can%20be%20provided%20to%20create%20a%20temporary%20database%20in%20RAM.

In [26]:
conexao = sqlite3.connect(':memory:')

Uma vez que uma conexão foi estabelecida, crie um objeto Cursor e utilize o  método `execute()` para executar comandos SQL

Ex: `cursor.execute('Comando SQL')`

In [27]:
cursor = conexao.cursor()

## Criando uma tabela



A instrução `CREATE TABLE` cria uma tabela no banco de dados e entre os parênteses ficam os campos (colunas/columns)

Ex: `CREATE TABLE <nome da tabela> (campo1, campo2);`

In [28]:
cursor.execute("""
    CREATE TABLE STOCKS (
        date DATE, 
        trans VARCHAR (30),
        symbol VARCHAR (30), 
        qty INTEGER, 
        price DECIMAL
        );
""")

## Inserindo um registro

A instrução INSERT é utilizada para inserir um registro (linha/row) na tabela

Ex: 
```
INSERT INTO <nome da tabela> (' nome dos campos separados por "," ') 
VALUES (' valores ');
```
Inserir o nome dos campos é opcional para inserior os dados

In [29]:
cursor.execute("""
    INSERT INTO STOCKS
    VALUES ('2006-01-05','BUY','RHAT',100,35.14);
""")

## Realizado uma consulta (query)

Realizando uma consulta no banco de dados com a instrução SELECT

Ex: `SELECT * FROM <nome da tabela>;`

O '*' seleciona todos os campos (colunas/columns) da tabela, no lugar dele pode inserior o nome dos campos que você deseja

In [30]:

cursor.execute('SELECT * FROM STOCKS;')

# cursor.fetchone() retorna um único registro (linha/row) da tabela
# O indice das tuplas são correspondentes aos campos: date, trans, symbol, qty, price
print(cursor.fetchone())

('2006-01-05', 'BUY', 'RHAT', 100, 35.14)

In [31]:
# cursor.fetchall() retorna uma lista de tuplas
# de todos os registros da tabela
cursor.execute('SELECT * FROM STOCKS;')

print(cursor.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100, 35.14)]

## Inserindo vários registros

Utilize o método `executemany()` do cursor para inserior vários valores.

In [36]:
operacoes = [
    ('2006-01-05', 'BUY', 'RHAT', 100, 35.14),
    ('2006-03-28', 'BUY', 'IBM', 1000, 45.0),
    ('2006-04-06', 'SELL', 'IBM', 500, 53.0),
    ('2006-04-05', 'BUY', 'MSFT', 1000, 72.0)
]

# Colocar as interrogações que correspondem ao número de itens na tupla
# tupla com 5 valores = 5 interrogações.
# Os valores serão passados como segundo parametro dentro de executemany().
# Esse método é mais recomendado para inputs do usuário por motivos de
# segurança (SQLInjection https://pt.wikipedia.org/wiki/Inje%C3%A7%C3%A3o_de_SQL).
cursor.executemany("""
    INSERT INTO STOCKS (date, trans, symbol, qty, price)
    VALUES (?, ?, ?, ?, ?)
""", operacoes)

In [37]:
# O cursor pode ser usado como iterador
# https://docs.python.org/3/library/sqlite3.html#:~:text=To%20retrieve%20data,the%20iterator%20form%3A

cursor.execute('SELECT * FROM STOCKS')
print(cursor.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100, 35.14), ('2006-03-28', 'BUY', 'IBM', 1000, 45), ('2006-04-06', 'SELL', 'IBM', 500, 53), ('2006-04-05', 'BUY', 'MSFT', 1000, 72), ('2006-01-05', 'BUY', 'RHAT', 100, 35.14), ('2006-03-28', 'BUY', 'IBM', 1000, 45), ('2006-04-06', 'SELL', 'IBM', 500, 53), ('2006-04-05', 'BUY', 'MSFT', 1000, 72)]

## Salvando as alterações

Se as alterações não forem salvas o banco de dados não irá grava-las. Utilizamos o método `commit()` do objeto Connection para isso.

In [38]:
conexao.commit()

Lembre-se de fechar o cursor e a conexão com o banco de dados

In [39]:
cursor.close()
conexao.close()